## Load Data

In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
data.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

## Mean -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### Without using Inbuilt Function

In [2]:
add = 0
for i in data['Mthly_HH_Income']:
    add += i

mthly_income_mean = add/len(data['Mthly_HH_Income'])
mthly_income_mean

41558.0

### Using Inbuilt Function

In [3]:
mthly_income_mean_ = data['Mthly_HH_Income'].mean()
mthly_income_mean_

41558.0

## Median -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### Without using Inbuilt Function

In [4]:
data_lst = list(data['Mthly_HH_Expense'])
data_lst.sort()
mid_number = len(data_lst)//2
if len(data_lst)%2 == 1:
    print(data_lst[mid_number-1])
else:
    print((data_lst[mid_number-1] + data_lst[mid_number]) / 2)

15500.0

### Using Inbuilt Function

In [5]:
mthly_expense_median = data['Mthly_HH_Expense'].median()
mthly_expense_median

15500.0

## Mode -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### Without using Inbuilt Function

In [6]:
data_lst = list(data['No_of_Fly_Members'])
counter = 0
num = data_lst[0]
for value in data_lst:
    frequency = data_lst.count(value)
    if frequency >= counter:
        counter = frequency
        num = value
print(num)

4

### Using Inbuilt Function

In [7]:
No_of_Fly_Members_Mode = data['No_of_Fly_Members'].mode()
No_of_Fly_Members_Mode

0    4
dtype: int64