## Load Data

In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
data.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

## Variance -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### WIthout Using Inbuilt Functions/Library

In [2]:
def means(numbers):
    return sum(numbers)/len(numbers)

mthly_income_mean = means(data['Mthly_HH_Income'])
print("Mthly_HH_Income Mean :", mthly_income_mean)

mthly_expense_mean = means(data['Mthly_HH_Expense'])
print("Mthly_HH_Expense Mean :", mthly_expense_mean)

no_of_fly_members_mean = means(data['No_of_Fly_Members'])
print("No_of_Fly_Members Mean :", no_of_fly_members_mean)

Mthly_HH_Income Mean : 41558.0
Mthly_HH_Expense Mean : 18818.0
No_of_Fly_Members Mean : 4.06

In [3]:
def variance(column, mean_value):
    addition = 0
    for column_value in column:
        addition += abs(column_value - mean_value)**2
    
    return addition/len(column)

mthly_income_varience = variance(data['Mthly_HH_Income'], mthly_income_mean)
print("Mthly_HH_Income Variance :", mthly_income_varience)

mthly_expense_varience = variance(data['Mthly_HH_Expense'], mthly_expense_mean)
print("Mthly_HH_Expense Variance :", mthly_expense_varience)

no_of_fly_members_varience = variance(data['No_of_Fly_Members'], no_of_fly_members_mean)
print("No_of_Fly_Members Variance :", no_of_fly_members_varience)

Mthly_HH_Income Variance : 667478836.0
Mthly_HH_Expense Variance : 143249876.0
No_of_Fly_Members Variance : 2.2564

### Using Inbuilt Function/Library

In [4]:
from statistics import variance

print("Mthly_HH_Income Variance :", variance(data['Mthly_HH_Income']))
print("Mthly_HH_Expense Variance :", variance(data['Mthly_HH_Expense']))
print("No_of_Fly_Members Variance :", variance(data['No_of_Fly_Members']))

Mthly_HH_Income Variance : 681100853.0612245
Mthly_HH_Expense Variance : 146173342.85714287
No_of_Fly_Members Variance : 2.3024489795918366

## Standard Deviation -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### Without Using Inbuilt Function/Library

In [5]:
print("Mthly_HH_Income Standard Deviation :", mthly_income_varience**0.5)
print("Mthly_HH_Expense Standard Deviation :", mthly_expense_varience**0.5)
print("No_of_Fly_Members Standard Deviation :", no_of_fly_members_varience**0.5)

Mthly_HH_Income Standard Deviation : 25835.611779092826
Mthly_HH_Expense Standard Deviation : 11968.704023410388
No_of_Fly_Members Standard Deviation : 1.502131818450032

### Using Inbuilt Functions/Library

In [6]:
from statistics import stdev

print("Mthly_HH_Income Standard Deviation :", stdev(data['Mthly_HH_Income']))
print("Mthly_HH_Expense Standard Deviation :", stdev(data['Mthly_HH_Expense']))
print("No_of_Fly_Members Standard Deviation :", stdev(data['No_of_Fly_Members']))

Mthly_HH_Income Standard Deviation : 26097.908978713687
Mthly_HH_Expense Standard Deviation : 12090.216824240286
No_of_Fly_Members Standard Deviation : 1.5173822786601392

## Correlation -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

### Without Using Inbuilt Function/Library

In [18]:
#Calculate the mean
def means(numbers):
    return sum(numbers)/len(numbers)

mthly_income_mean = means(data['Mthly_HH_Income'])

mthly_expense_mean = means(data['Mthly_HH_Expense'])


# Calculate Covarince
def my_covariance(column1, column2):
    add = 0
    for i in range(len(column1)):
        add += ((column1[i] - mthly_income_mean) * (column2[i] - mthly_expense_mean))
    return add/(len(column1))

covariance = my_covariance(data['Mthly_HH_Income'], data['Mthly_HH_Expense'])
print("Covarinace Between mthly_income and mthly_expense :", covariance)


# Calculate Standard Deviation
mthly_income_standard_deviation = mthly_income_varience**0.5
mthly_expense_standard_deviation = mthly_expense_varience**0.5


# Calculate Pearson's Correlation
def pearson_correlation_coefficient(covariance, std_column1, std_column2):
    return covariance / (std_column1*std_column2)

correlation = pearson_correlation_coefficient(covariance, mthly_income_standard_deviation, mthly_expense_standard_deviation)
print("Correlation Between mthly_income and mthly_expense :", correlation)

Covarinace Between mthly_income and mthly_expense : 200749556.0
Correlation Between mthly_income and mthly_expense : 0.6492152549316462

### Using Inbuilt Function/Library

In [17]:
from scipy.stats import pearsonr

corr, p_value = pearsonr(data['Mthly_HH_Income'], data['Mthly_HH_Expense'])
print("Correlation Between mthly_income and mthly_expense :", corr)

Correlation Between mthly_income and mthly_expense : 0.6492152549316461